*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

h1{
    text-align: center;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.movies{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 1rem;
}
.movie img {
    border-radius: 10px;
}
.movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.movie p{
    padding-bottom: 10px;
}